/* Custom Styles */
body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
}

/* Global */
.bg-primary {
    background-color: #f96332 !important;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link:hover {
    color: yellow !important;
}

section .title {
    color: #f96332;
    margin-bottom: 30px;
    font-size: 74px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #333;;
}
/* Home */

#home {
    width: 100%;
    height: 60vh;
}

#home .content {
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#home .content h1 {
    color: #f96332;
    margin-bottom: 30px;
    font-size: 74px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #333;;
}
#home .content h2 {
    color: #f96332;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;
}

#home .content h2 span {
    color: #333;
    text-decoration: underline;
}

/* About */

#about {
    padding: 60px 0 30px 0;
}


/* Services */

#services .sub-title {
    color: #f96332;
    margin-bottom: 30px;
    font-size: 54px;
    font-weight: 500;
}

#services .box {
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}
  
#services .box:hover {
box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
transform: translateY(-10px);
-webkit-transform: translateY(-10px);
-moz-transform: translateY(-10px);
}

#services .box .icon {
float: left;
}

#services .box .icon i {
    color: #f96332;
    font-size: 64px;
    transition: 0.5s;
    line-height: 0;
    margin-top: 34px;
}

#services .box .icon i:before {
    background: #f96332;
    background: linear-gradient(45deg, #f96332 0%, #f96332 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#services .box h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
}

#services .box h4 a {
    color: #f96332;
}

#services .box p {
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 0;
    line-height: 24px;
}

/* Button */
.btn-primary {
    background-color: #f96332 !important;
    border-radius: 50px;
    border-color: #f96332 !important;
}

.btn-primary:hover {
    box-shadow: 0 0 11px rgba(33,33,33,1); 
}

/* Footer */
footer {
    background-color: #f96332 !important;
    padding: 20px;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: yellow;
    text-decoration: none;
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {
    #home .content h1 {
        font-size: 42px;
    }

    #home .content h2 {
        font-size: 34px;
    }

    #about .about-img {
        height: auto;
    }

    #services .box .box {
        margin-bottom: 20px;
    }
    #services .box .icon {
        float: none;
        text-align: center;
        padding-bottom: 15px;
    }
    #services .box h4, #services .box p {
        margin-left: 0;
        text-align: center;
    }
}
@media (max-width: 576px) {

}
