.section-contact-us .card {
    padding: 30px;
    width: 50%;
}

.section-contact-us, .section-about-us, .section-services, .section-team, .footer {
    background: rgba(44, 44, 44, 0.2);

    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2));

    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2));

    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2));

    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2));

}

.breadcrumb .breadcrumb-text, .breadcrumb .fa  {
    color: #333;
}

.breadcrumb .active .fa, .breadcrumb .active .breadcrumb-text {
    color: orange;
}

.fa-ellipsis-v {
    font-size: 20px;
}

.list-group .list-group-item img {
    width: 40px;
    height: 40px;
}

.employee-lists img {
    width: 60px;
    height: 60px;
}

#employee-attendance img{
    width:20px;
    height:20px;
}

strong, small {
    color: #333;
}

#employee-list {
    position: absolute;
    height: 80vh;
    overflow-y: scroll;
}

#user-profile .author {
    padding: 20px;
}
#user-profile .author img {
    height: 80px;
    width: 80px;
}

#setup .dropdown-item {
    width: 400px;
} 

@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
    .section-contact-us .card-contact, .section-login .card-login {
        width: 100%;
    }

    .footer {
        font-size: 0.84rem;
    }

    .card-login ul {
        display: inline;
    }
    .breadcrumb-text {
        display:none;
    }
    
    #employee-list{
        display:none;
    }

    #eval-table {
        font-size: 10px;
    }

    .turn-small {
        font-size:10px;
        width: 50%;
    }
}
