/* Custom Styles */

body {
    color: #444;
    font-family: "Montserrat";
}


/* Global */

.bg-primary {
    background-color: #373737 !important;
}

.text-primary {
    color: #084c61 !important;
}

.text-default {
    color: #478dd2 !important;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link:hover {
    color: #478dd2 !important;
}

.navbar .active a {
    color: #478dd2 !important;
}

section .title {
    color: #478dd2;
    margin-bottom: 30px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

a .fa-google-plus {
    font-size: 20px;
    color: #d34836;
}

a .fa-facebook-square {
    font-size: 20px;
    color: #3B5998;
}

.nav-item .fa-user,
.nav-item .fa-sign-out,
.nav-item .fa-gear {
    color: #478dd2 !important;
}

a .fa-gear {
    color: #fff !important;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item .fa-gear {
    color: #478dd2 !important;
}

.my-4 {
    background-color: #efefef;
}


/* Home */

#home {
    width: 100%;
    height: 80vh;
    background-color: #515151 !important;
}

#home img {
    width: 80%;
}

#home .content {
    padding: 50px;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

#home .content h1 {
    color: #ffffff;
    font-size: 60px;
}

#home .content h2 {
    color: #ffffff;
    font-size: 25px;
    padding-bottom: 20px;
}

#home .content h2 span {
    color: #ffffff;
    font-weight: bold;
}


/* About */

#about {
    background-color: #efefef;
    padding-top: 50px;
}


/* Services */

#services {
    background-color: #efefef;
    padding-top: 50px;
}

#services .sub-title {
    color: #f96332;
    margin-bottom: 30px;
    font-size: 54px;
    font-weight: 500;
}

#services .box {
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}

#services .box:hover {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}

#services .box .icon {
    float: left;
}

#services .box .icon i {
    color: #373737;
    font-size: 64px;
    transition: 0.5s;
    line-height: 0;
    margin-top: 34px;
}

#services .box .icon i:before {
    background: #478dd2;
    background: linear-gradient(45deg, #478dd2 0%, #478dd2 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#services .box h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
}

#services .box h4 a {
    color: #478dd2;
}

#services .box p {
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 0;
    line-height: 24px;
}


/* Team */

#team {
    background-color: #efefef;
    padding-top: 50px;
}

#team img {
    width: 50%;
    height: 50%;
}

#team .box {
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}

#team .box:hover {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}

#team .category {
    margin-top: -10px;
}


/* Contact */

#contact {
    background-color: #efefef;
    padding-top: 50px;
}

#contact .box {
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}


/* Login */

#login {
    height: 90vh;
}

#login .card {
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}

#login .card .card-header {
    background-color: #fff;
}

#login .card .card-header span {
    color: #478dd2 !important;
}

#login .or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

#login .or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}


/* Register */

#register {
    height: 90vh;
}

#register .card {
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}

#register .card .card-header {
    background-color: #fff;
}

#register .card .card-header span {
    color: #478dd2 !important;
}


/* Setup Company */

#setup {
    height: 90vh;
}

#setup .card {
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
}

#setup strong {
    color: #f96332 !important;
}


/* Manage Employees */

#manage-employees {
    height: 100%;
    margin-top: 30px;
}

#add_employee .accordion {
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
}


/* Dashboard Navbar Notification */

.glyphicon-bell {
    font-size: 1.5rem;
}

.notifications {
    min-width: 420px;
}

.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}

.menu-title {
    color: #f96332;
    display: inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left: 10px;
}

.notification-heading,
.notification-footer {
    padding: 2px 10px;
}

.dropdown-menu.divider {
    margin: 5px 0;
}

.item-title {
    font-size: 1.3rem;
    color: #000;
}

.notifications a.content {
    text-decoration: none;
    background: #ccc;
}

.notification-item {
    padding: 10px;
    margin: 5px;
    background: #fff;
    border-radius: 4px;
}


/* Button */

.btn-primary {
    background-color: #478dd2 !important;
    border-radius: 50px;
    border-color: #478dd2 !important;
}

.btn-primary:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 1);
}


/* Dashboard */

#user-dashboard {
    margin-top: 30px;
    height: 100%;
}

#user-dashboard img {
    height: 80px;
    width: 80px;
}


/* Employees */

#employees {
    margin-top: 30px;
    height: 500px;
}

#employees img {
    height: 60px;
    width: 60px;
    border-radius: 50% !important;
}


/* Manage Employees */

#manage-employees img {
    height: 60px;
    width: 60px;
    border-radius: 50% !important;
}


/* Performance Evaluation */

#evaluation {
    margin-top: 30px;
    height: 100%;
}

#evaluation img {
    height: 60px;
    width: 60px;
}

#evaluation small {
    font-size: 8px;
}


/* User Profile */

#user-profile {
    margin-top: 30px;
    height: 100%;
}

#user-profile img {
    height: 100px;
    width: 100px;
}

.custom-control-label::after {
    border-radius: 50%;
    background-color: #f96332 !important;
}


/* Footer */

footer {
    background-color: #373737 !important;
    padding-top: 5px;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #478dd2;
    text-decoration: none;
}

#employee-dashboard {
    margin-top: 30px;
}

@media (max-width: 992px) {
    #home {
        height: 60vh;
    }
    #home .content h1 {
        font-size: 32px;
    }
    #home .content h2 {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    section .title {
        margin-bottom: 30px;
        font-size: 32px;
    }
    section .description {
        color: #373737;
        margin-bottom: 30px;
        font-size: 25px;
    }
    #home {
        height: 60vh;
    }
    #home .content h1 {
        font-size: 32px;
    }
    #home .content h2 {
        font-size: 25px;
    }
    #about .about-img {
        height: auto;
    }
    #services .box .box {
        margin-bottom: 20px;
    }
    #services .box .icon {
        float: none;
        text-align: center;
        padding-bottom: 15px;
    }
    #services .box h4,
    #services .box p {
        margin-left: 0;
        text-align: center;
    }
    .carousel .carousel-inner .card {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    section .title {
        margin-bottom: 30px;
        font-size: 27px;
    }
    section .description {
        color: #373737;
        margin-bottom: 30px;
        font-size: 15px;
    }
    #home {
        height: 60vh;
    }
    #home .content h1 {
        font-size: 27px;
    }
    #home .content h2 {
        font-size: 10px;
    }
    #home img {
        width: 100%;
        height: 80%;
    }
    #home .btn {
        font-size: 8px;
        padding: 5px;
    }
    #team img {
        width: 30%;
        height: 30%;
    }
    #login {
        height: 100vh;
    }
    #register {
        height: 120vh;
    }
    .notifications {
        min-width: 240px;
    }
    #evaluation-form {
        font-size: 8px;
    }
    #evaluation-form select {
        font-size: 8px;
    }
    input[type='search'] {
        width: 150px !important;
    }
    select {
        padding: 0;
    }
}

.carousel .carousel-inner .card {
    min-height: 120px;
}

@media (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    .carousel .carousel-control-next,
    .carousel .carousel-control-next .carousel-control-next-icon {
        position: absolute;
        right: -30px;
        width: 80px;
    }
    .carousel .carousel-control-prev,
    .carousel .carousel-control-prev .carousel-control-prev-icon {
        position: absolute;
        left: -30px;
        width: 80px;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f96332' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f96332' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    .carousel .carousel-control-next,
    .carousel .carousel-control-next .carousel-control-next-icon {
        position: absolute;
        right: -18px;
    }
    .carousel .carousel-control-prev,
    .carousel .carousel-control-prev .carousel-control-prev-icon {
        position: absolute;
        left: -18px;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f96332' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f96332' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
}

input[type='search'] {
    border-radius: 50px;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.modal {
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
}

.notice-sm {
    padding: 10px;
    font-size: 80%;
}

.notice-lg {
    padding: 35px;
    font-size: large;
}

.notice-success {
    border-color: #80D651;
}

.notice-success>strong {
    color: #80D651;
}

.notice-info {
    border-color: #45ABCD;
}

.notice-info>strong {
    color: #45ABCD;
}

.notice-warning {
    border-color: #FEAF20;
}

.notice-warning>strong {
    color: #FEAF20;
}

.notice-danger {
    border-color: #d73814;
}

.notice-danger>strong {
    color: #d73814;
}

#employee-schedule {
    height: 20px;
    overflow-y: visible;
}

textarea {
    resize: none;
}

#count_message {
    background-color: smoke;
    margin-top: -20px;
    margin-right: 5px;
}